body{

    background-color: #222222;
    /* background-repeat: no-repeat;
    background-position: -10% 50%; 

    background-size: contain; */
    min-height: 100vh;

  }
  .gifson{
    z-index: 0;
    width: 100%;
    height: 700px;
    position: relative;
  }
  .gif{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(distributed@2x.gif);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    /* background-size: contain; */
    background-position: center;
  }
.main {
  z-index: -1;
  /* position: relative; */
  display: inline-block;
  /* border-width: 2px;
  border-style: dashed;
  border-color: rgb(231, 166, 180); */
  /* float: right; */
  width: 46.875rem;
  /* padding-top: 1%; */
  height: 90vh;

}
/* p {
 margin: 4%;
 color: #9b9b9b;
 font-family: 'Changa', sans-serif;
 text-align: center;
 font-weight: 400;
} */

#Headline {
  border-width: 1.2px;
  border-style: dashed;
  border-color: rgb(245, 15, 207);
  color: white;
  font-family: 'Monoton', cursive;
  padding-top: 2%;
  text-align: center;
  height: 9.375rem;

}
.One {
  font-size: 2.08vw;
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 0rem;
  word-spacing: 0.75rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.938), rgba(255, 255, 255, 0.562), rgb(255, 255, 255), rgba(255, 255, 255, 0.815), rgb(255, 255, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 190%;
  background-position: -150%;
  animation: animatedText 2000ms infinite alternate-reverse;
}
.intro{
  margin-top: 5%;
  
  
  }
  @media (max-width: 768px)  {
    .intro {
        margin-top: 7%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0%;
        font-size: 4.8vw;
        width: 100%;
        height: auto;
        line-height: 4.5vw;
        padding: 0;
        z-index: 1;
        text-align: center;
        color: white;


    }

.Two_0 {
  /* outline: 3px solid red;   */
  color: white;
  font-family: 'Changa', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 0.938rem;
  text-align: center;
  margin-bottom: 4%;
  padding-top: 1.25rem;

}

.Two_1 {
    /* outline: 3px solid red;   */
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: -1.563rem;
    margin-left: 4.875rem;
  
  }

  .inline_1 {
    /* border-width: 1.2px;
    border-style: dashed;
    border-color: rgb(3, 255, 129); */
    display: inline-block;
    width: 46.875rem;
    height: 2rem;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: -0.625rem;
    font-weight: 300;

  }
  #numb{

    letter-spacing: 0.063rem;
    /* margin-top: 18px; */
  }
  #btncopy{

    width: 1.25rem;
    color: white;
    /* margin-top: 18px; */


  }
  .inline_2 {
    /* border-width: 1.2px;
    border-style: dashed;
    border-color: rgb(3, 255, 129); */
    /* display: inline-block; */
    width: 31.25rem;
    height: 0.938rem;
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 1.3rem;
    /* text-align: center; */
    margin-top: -0.125rem;
    margin-left: 5.125rem;
    font-weight: 300;
  }
  #tag{
    /* display: inline-block; */
    letter-spacing: 0.063rem;
  }
  #btncopy_1{
    /* display: inline-block; */
    margin-top: 1.25rem;
    width: 1.25rem;
    color: white;

  }
  /* .Two_2 {
    outline: 3px solid red;  
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 18px;
    margin-left: 78px;
  
  } */
  .Two_3 {
    /* outline: 3px solid red;   */
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 4.875rem;
  
  }
  .Two_4 {
    /* outline: 3px solid red;   */
    color: white;
    font-family: 'Changa', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 0.125rem;
    margin-left: 4.875rem;
  
  }
  .form{

    width: 80%;
    position: relative;
    height: 3.125rem;
    overflow: hidden;
    margin: auto;
  }
  .form input{
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: 'Changa', sans-serif;
    font-size: 1.081rem;
    padding-top: 3%;
    border: none;
    background: transparent;
    outline: none;
    
  }
  .form label {
    position: absolute;
    bottom: 0rem;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: white;
    opacity: 0.75;
    font-family: 'Changa', sans-serif;
    border-bottom: 0.125rem solid #222222;
  }
  .form label::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -0.125rem;
    height: 100%;
    border-bottom: 0.156rem solid #9b9b9b;
    transform: translateX(-81.5%);
    transition: transform 1.5s ease-in-out;

  }

  .content-name {
    position: absolute;
    font-size: 1.125rem;
    bottom: -0.094;
    left: 0rem;
    transition: all 0.8s ease;

  }
 .form input:focus + .labe-name .content-name,
 .form input:valid + .labe-name .content-name {
   transform: translateY(-75%);
   font-size: 0.875rem;
   font-weight: 600;
   color: #9b9b9b;
 }
.form input:focus + .labe-name::after,
 .form input:valid + .labe-name::after {
  transform: translateX(0%);


 }
 .btnnn {
   text-align: center;
 }
  .gradButton {
    
    width: 7.5rem;
    height: 2.5rem;
    outline: none;
    margin-top: 1.25rem;
    border: none;
    position: relative;
    border-radius: 11.25rem;
    cursor: pointer;
    background: linear-gradient(60deg, white, #c7deff, #0667fa, #024aaf,
    #173764, #adc3e5, white, #14243b);

  }

  .gradButton::after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 11.25rem;
    width: calc(100% - 0.531rem);
    height: calc(100% - 0.563rem);
    top: 0.281rem;
    left: 0.313rem;
    background: #222222;
  }

  .gradButton span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.938rem;
    font-weight: 600;
    color: white;
    z-index: 1;
    position: relative;
    background: transparent;
  }

  .gradButton::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, white, #c7deff, #0667fa, #024aaf,
    #173764, #adc3e5, white, #14243b);
    top: 0;
    left: 0;
    filter: blur(0.625rem);
    border-radius: 11.25rem;
    opacity: 0;

  }

  .gradButton:hover {
    background-size: 300%;
    animation:rotateBorder 18s linear infinite;
    
  }
  .touch {
   
    color: #9b9b9b;
    font-family: 'Changa', sans-serif;
    font-weight: 400;
    margin-top: 10%;
    text-align: center;
  }
  #mail {
    color: #5f9cf7;
    letter-spacing: 0.05vh;
  }
  .container{
    position: fixed;
    height: 7.5rem;
    width: 0.313rem;
    bottom: 3%;
    left: 0.25%;
  }
  .container span {
    margin-left: -1vh;
    font-family: 'Monoton', cursive;
    color: #347eee;
    margin-bottom: -0.625;
    font-size: 1.563rem;
    font-weight: 500;
  }

  @keyframes rotateBorder {
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 300% 0;
    }
    100%{
      background-position: 0 0;
    }
  }

  .gradButton:hover::before {
    opacity: 1;
    transition: 0.2s opacity ease-in-out;
    filter: blur(0.625rem);
  }

  @keyframes animatedText{

    /* from{
      background-position: 0%;
    } */
    to{
      background-position: 100%;
    }
  }

  .fa-clipboard:hover {
    cursor: pointer;
  }
  @media (max-width: 768px ) {
    .col-sm-6{
      width: 50%;
      display: inline-block;
      /* z-index: -1; */
    }
    .main{
      /* z-index: 0; */
    }
    .One{
      font-size: 3vw;
    }
   
    
  }
 


  /* .btnn {
    position: absolute;
    margin: auto;
    border: none;
    background-color: #222222;
    font-family:"Abril Fatface", sans-serif;
    background: linear-gradient(to right, white, #0667fa, white);
    font-weight: bolder;
    animation: rainbow 1.5s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color: #9b9b9b;
    font-size: 20px;
    transition: color .10s ease-in-out;
    
    
    
      }
     
      .btnn:hover{
        color:rgba(255, 0, 0, 0);
        transition: 0.2s;
        font-size: 20.5px;
      }
  
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
} */

